
extends ./layout.jade

block content
  header.main
    h1= fullName
    img.photo(src=photo)

  section.personal-information
    header: h2 Personal information
    article

      .full-name= fullName
      .phone= phone
      .email= email
      .nationality= nationality

      - var date = (new Date()).getFullYear() - 1985
      .age= date


  section.current-situation
    header: h2 Current situation
    article
      h3 Occupational field
      .value= field

    article!= md(intro)

  section.work-experience
    header: h2 Work experience
    - work.forEach(function(job) {
      article
        .employer= job.employer
        .date= job.when
        .position= job.position
        .activities!= md(job.what)
    - });

  section.education
    header: h2 Education
    .date= edu.when
    .title= edu.what
    .from= edu.who

  p
    :markdown
      *Hi* **world** !
