
extends ./layout.jade

block content
  header.main
    h1= fullName
    img.photo(src=photo)

  section.personal-information#personal-information
    header: h2 Personal information
    article

      .kv.full-name
        label Full name
        span= fullName
      .kv.phone
        label Phone
        span= phone
      .kv.email
        label Email
        span= email
      .kv.nationality
        label Nationality
        span= nationality

      - var date = (new Date()).getFullYear() - 1985
      .kv.age
        label Age
        span= date


  section.current-situation#current-situation
    header: h2 Current situation
    article
      .kv
        label Field
        span= field

    article!= md(intro)

  section.work-experience#work-experience
    header: h2 Work experience
    - work.forEach(function(job) {
      article(id=job.employer+'-'+job.when+'-'+job.position)
        header
          .employer= job.employer
          .date= job.when
        .position= job.position
        .activities!= md(job.what)
    - });

  section.education#education
    header: h2 Education
    article
      .date= edu.when
      .title= edu.what
      .from= edu.who

  section.skills#skills
    header: h2 Skills
    article.languages#languages
      header: h3 Languages
      ul
        - skills.languages.forEach(function(lang) {
          li
            span.name= lang.which
            span.level= lang.level
            - if (lang.titles)
              ul.titles
                - lang.titles.forEach(function(title) {
                  li= title
                - });
        - });

    article.tech#tech
      header: h3 Technical skills
      ul
        - skills.tech.forEach(function(skill) {
          li.name= skill.text
            - if (skill.children)
              ul
                - skill.children.forEach(function(subSkill) {
                  li.name= subSkill
                - });
        - });

    article.art#art
      header: h3 Artistic skills
      ul
        - skills.art.forEach(function(skill) {
          li.name= skill
        - })

  section.other#other
    header: h2 Additional information
    article
      .car= other.car
      .remote= other.remote
      ul.trips
        - other.trips.forEach(function(trip) {
          li= trip
        - });

