<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CV Joaquin Oltra</title>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display|Libre+Franklin"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" media="all" href="normalize.css" />
    <link type="text/css" rel="stylesheet" media="all" href="resume.css" />
    <script>
      if (window.matchMedia) {
        var printMediaQuery = window.matchMedia("print");
        printMediaQuery.addListener(function(mql) {
          if (mql.matches) {
            beforePrint();
          } else {
            afterPrint();
          }
        });
      } else {
        // IE, Firefox
        window.onbeforeprint = openDetails;
        window.onafterprint = closeDetails;
      }

      function openDetails() {
        Array.from(document.querySelectorAll("details")).forEach(e =>
          e.toggleAttribute("open")
        );
      }
      function closeDetails() {
        Array.from(document.querySelectorAll("details")).forEach(e =>
          e.removeAttribute("open")
        );
      }
    </script>
  </head>
  <body>
    <header>
      <a href="http://chimeces.com/resume/">Web</a>
      ·
      <a href="http://chimeces.com/resume/resume.pdf">PDF</a>
      ·
      <a href="http://github.com/joakin/resume">Source</a>
      ·
      <span>
        <a href="javascript:openDetails()">Open</a>
        /
        <a href="javascript:closeDetails()">Close</a>
        details
      </span>
    </header>
    <div id="container">
      <header class="main">
        <h1><%= fullName %></h1>
        <img src="<%= photo %>" class="photo" />
      </header>
      <section id="personal-information" class="personal-information">
        <article>
          <div class="kv phone">
            <label><img src="./img/github.svg" alt="Github" width="24px" height="24px" /></label>
            <span><a href="https://github.com/<%= github %>">@<%= github %></a></span>
          </div>
          <div class="kv email">
            <label>Email</label>
            <span><a href="mailto:<%= email %>"><%= email %></a></span>
          </div>
          <div class="kv phone">
            <label>Phone</label>
            <span><a href="tel:<%= phone %>"><%= phone %></a></span>
          </div>
          <div class="kv location">
            <label>Location</label>
            <span><%= location %></span>
          </div>
          <div class="kv timezones">
            <label>Timezones</label>
            <span><%= timezones %></span>
          </div>
        </article>
      </section>
      <section id="current-situation" class="current-situation">
        <header>
          <h2>Summary</h2>
        </header>
        <article class="body">
          <%- md(intro) %>
        </article>
      </section>
      <section id="work-experience" class="work-experience">
        <header>
          <h2>Work experience</h2>
        </header>

        <% work.forEach(function(job) { %>
          <%
          let start = job.start ?? job?.positions?.[job?.positions.length - 1]?.start;
          let end = job.end ?? job?.positions?.[0]?.end;
          let jobs = job.positions ?? [job];
          %>
          <article
            id="<%= `${job.employer}-${start}-${end ?? ''}-${job.position ?? ''}`.replace(/ /g, '_') %>"
            class="<%= jobs.length === 1 ? 'print-no-break-inside' : '' %>"
          >
            <header class="header-3el">
              <div class="employer"><%= job.employer %></div>
              <div class="position"><%= job.position ?? "" %></div>
              <div class="date"><%= start %> - <%= end ?? 'Present' %></div>
            </header>
            <% jobs.forEach((job) => { %>
              <div class="body print-no-break-inside">
                <% if (jobs.length > 1) { %>
                  <h3>
                    <%= job.position %>
                    <span class="date"><%= job.start %> - <%= job.end ?? 'Present' %></span>
                  </h3>
                <% } %>
                <% 
                let hideAfter = 6;
                function isOldJob(job) { return job.end && job.end <= (new Date()).getFullYear() - hideAfter; }
                let isOld = isOldJob(job);
                %>
                <% if (!isOld) { %>
                  <%- job.what ? md(job.what) : '' %>
                  <%- job.details ? md(job.details) : '' %>
                <% } else if (job.what || job.details) { %>
                  <details>
                    <summary>Details</summary>
                    <%- job.what ? md(job.what) : '' %>
                    <%- job.details ? md(job.details) : '' %>
                  </details>
                <% } %>
              </div>
            <% }); %>
          </article>
        <% }); %>
      </section>
      <section id="education" class="education print-no-break-inside">
        <header>
          <h2>Education</h2>
        </header>
        <article class="header-3el">
          <div class="from"><%= edu.who %></div>
          <div class="title"><%= edu.what %></div>
          <div class="date"><%= edu.when %></div>
        </article>
      </section>
      <section id="languages" class="languages print-no-break-inside">
        <header>
          <h2>Languages</h2>
        </header>
        <% languages.forEach(function(lang) { %>
          <div class="header-3el">
            <div class="name"><%= lang.which %></div>
            <div class="level"><%= lang.level %></div>
            <% if (lang.titles) { %>
              <div>
                <% lang.titles.forEach(function(title) { %> <%= title %><br />
                <% }); %>
              </div>
            <% } %>
          </div>
        <% }); %>
      </section>
      <section id="other" class="other print-no-break-inside">
        <header>
          <h2>Additional information</h2>
        </header>
        <article class="body">
          <%- md(other) %>
        </article>
      </section>
    </div>
    <footer class="print-no-break-inside">
      <p>
        This resume was generated from YAML, HTML, JS and CSS using Node.js and
        is open source.
      </p>
      <p>
        To learn more visit the online version at
        <a href="http://chimeces.com/resume/">chimeces.com/resume</a> or check
        the underlying source at the
        <a href="http://github.com/joakin/resume">GitHub repo</a>.
      </p>
    </footer>
  </body>
</html>
